*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.comment_header{
    position: relative;
    min-height: 100%;
    width: 100%;
    background: url(feedback_background.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    
}


/* --------------comment box------------- */
.comment-box{
    width: 50%;
    margin: 50px 0;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 25%;
    margin-top: 100px;
    background: rgba(95, 94, 94, 0.8);
    
}

.comment-box p{
    text-align: left;
    font-size: 20px;
    color: #fff;
    margin: 8px 0;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    border: 1px solid #b1afaf;
    background-color: rgba(182, 182, 182, 0.8);
    
}

::placeholder {
    color: #e6e6e6;
}    

.rate{
    margin: 0;
    display: flex;
    width: 100%;
    border: none;
}

label {
    float: right;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
  }


.comment-form button{
    margin: 10px 0;
    border: none;
    background-color: #d0d0d0;
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    color: #444;
}

button:hover{
    color: white;
    background-color: #444;
}



