*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.footer{
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: #333;
  color: #efefef;
  display: flex;

}

.footer div{
text-align: center;
padding: 30px ;

}

.col-2{
flex-grow: 2;

}

.footer div h3{
font-weight: 300;
margin-bottom: 30px;
letter-spacing: 1px;
}

.col-1 a{
display: block;
text-decoration: none;
color: #efefef;
margin: 0px 50px 10px 40px;
}

.col-1 a::after{
content:'';
width: 0%;
height: 2px;
background: #DAA520;
display: block;
margin: auto;
transition: 0.5s;
}

.col-1 a:hover::after{
width: 100%;
}

.newsletter input{
width: 400px;
height: 45px;
border-radius: 4px;
text-align: center;
margin-top: 20px;
margin-bottom: 40px;
outline: none;
border: none;
}

.newsletter button{
background: transparent;
border: 2px solid #fff;
color: #fff;
border-radius: 30px;
padding: 10px 30px;
font-size: 15px;
cursor: pointer;

}

.newsletter button:hover{
background-color: #DAA520;
color: #000;
border-color: #333;
}

.social-icons li {
display: inline-block;
margin-right: 10px;
}

.social-icons a {
font-size: 22px;
display: block;
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
border-radius: 50%;
color: #fff;
background-color: #333;
}

.social-icons a:hover {
background-color: #DAA520;

}

.editor {
color:  #fff;
text-decoration: none;

}

.editor:hover{
color: #836400;
}



